{% extends "base.html" %}
{% block title %} Data Connection {% endblock %}
{% load static %}
{% block content %}

{% block heading_new_chat_upgrade %}
<div class="d-flex justify-content-between">
    <h5 class="mb-4 mts-4">{% block pageheading %}Data Connection{% endblock %}</h5>
    <div class="d-flex">
        <form action="{% url 'new_chat' %}" method="post">
            {% csrf_token %}
            <button class="primary_site_btn_outline">New Chat <i class="fa-regular fa-pen-to-square ps-2"></i></button>
        </form>
        <button class="primary_site_btn ms-3">Upgrate Plan</button>
    </div>
</div>
{% endblock %}

<div class="col-8 align-self-center justify-content-center main-block card-style p-4 d-flex m-auto  mb-2">
    <div class="row justify-content-center d-flex">
        <div class="col-5 p-4">
            <a class="primary_site_btn_outline mb-3" style="height: 60px;">
                <img src="{% static 'img/comp_logo/google-doc-1.png' %}" alt="" style="height: 60%;">
            </a>
            <a class="primary_site_btn_outline mb-3" style="height: 60px;">
                <img src="{% static 'img/comp_logo/Microsoft-Excel.png' %}" alt="" style="height: 60%;">
            </a>
            <a class="primary_site_btn_outline mb-3" style="height: 60px;">
                <img src="{% static 'img/comp_logo/mysql.png' %}" alt="" style="height: 60%;">
            </a>
            <a class="primary_site_btn_outline mb-3" style="height: 60px;">
                <img src="{% static 'img/comp_logo/oracle.png' %}" alt="" style="height: 60%;">
            </a>
            <a class="primary_site_btn_outline mb-3" style="height: 60px;">
                <img src="{% static 'img/comp_logo/databricks.png' %}" alt="" style="height: 60%;">
            </a>
        </div>
        <div class="col-5 p-4">
            <a class="primary_site_btn_outline mb-3" style="height: 60px;">
                <img src="{% static 'img/comp_logo/Google-Sheets-1.png' %}" alt="" style="height: 60%;">
            </a>
            <a class="primary_site_btn_outline mb-3" style="height: 60px;">
                <img src="{% static 'img/comp_logo/mdb.png' %}" alt="" style="height: 60%;">
            </a>
            <a class="primary_site_btn_outline mb-3" style="height: 60px;">
                <img src="{% static 'img/comp_logo/mssql.png' %}" alt="" style="height: 60%;">
            </a>
            <a class="primary_site_btn_outline mb-3" style="height: 60px;">
                <img src="{% static 'img/comp_logo/psql.png' %}" alt="" style="height: 60%;">
            </a>
            <a class="primary_site_btn_outline mb-3" style="height: 60px;">
                <img src="{% static 'img/comp_logo/bigquery.png' %}" alt="" style="height: 85%;">
            </a>
        </div>
    </div>

</div>
<div class="col-4 ps-4 pe-4">
    <div class="card-style quick_settings p-3 mb-4">
        <h5 class="mb-3 mts-4">Upload document</h5>
        <hr>
        <div id="drop-area" class="mt-4">
            <form action="{% url 'file_upload' %}" method="post" enctype="multipart/form-data"
                class="flex-column align-items-center">
                {% csrf_token %}
                <p>Drag and drop a file here or click to select a file</p>
                <input class="mb-3" type="file" id="fileElem" name="file" accept=".jpg, .jpeg, .png, .pdf"
                    onchange="handleFiles(this.files)" required>
                <button type="submit" class="primary_site_btn" value="Submit">
                    <i class="fa-solid fa-file-arrow-up pe-2 position-relative" style="right: 0;"></i> Upload
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <a class="primary_site_btn_outline m-auto " style="width: auto;" href="{% url 'chat_screen_temp' %}">Next Step</a>
    </div>
</div>

{% endblock %}